# Shell scripts can't have CRLF line endings
*.sh				eol=lf

# Excluded from stats, hidden in diffs
libvips/colour/profiles.c	linguist-generated

# Excluded from stats
libvips/foreign/libnsgif/*	linguist-vendored

# Omit from release tarball
.clang-format			export-ignore
.codespellrc			export-ignore
.editorconfig			export-ignore
.git-blame-ignore-revs		export-ignore
.gitattributes			export-ignore
.gitignore			export-ignore
.gitkeep			export-ignore
.github/			export-ignore
