a.out
*.log
*.trs
cov-int
tmp
tmp-*
test/variables.sh
libvips/introspect
scan
compile
po/*.pot
test-driver
vips-*.tar.gz
doc/setup-build.stamp
doc/tmpl-build.stamp
doc/tmpl.stamp
doc/tmpl/
doc/gtk-doc.make
doc/libvips-docs.sgml
doc/libvips-docs.xml
libvips-scan 
libvips-scan.c
Makefile.in
TAGS
tags
*.o
Vips-8.0.gir
Vips-8.0.typelib
.*.swp
*.lo
*.bak
*.vect
*.la
Vips-8.0.gir
Vips-8.0.typelib
*.pc
*.pyc
*.pyo
.deps
.libs
aclocal.m4
config.*
configure
depcomp
autom4te.cache/
install-sh
libtool
libvips/include/vips/version.h
fred
ltmain.sh
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
missing
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/de.gmo
py-compile
stamp-h1
swig/python/setup.py
swig/vipsCC/VDisplay.py
swig/vipsCC/VError.py
swig/vipsCC/VImage.h
swig/vipsCC/VImage.py
swig/vipsCC/VMask.py
swig/vipsCC/vdisplaymodule.cxx
swig/vipsCC/verrormodule.cxx
swig/vipsCC/vimagemodule.cxx
swig/vipsCC/vmaskmodule.cxx
tools/edvips
tools/header
tools/vipsedit
tools/vipsheader
tools/vips
tools/vipsthumbnail
tools/find_mosaic
tools/mergeup
tools/cooc
tools/cooc_features
tools/glds
tools/glds_features
tools/simcontr
tools/sines
tools/spatres
tools/squares
tools/batch_crop
tools/batch_image_convert
tools/batch_rubber_sheet
tools/light_correct
tools/shrink_width

# we can't ignore all Makefile since we have a couple of hand-made ones
Makefile
doc/Makefile
libvips/Makefile
libvips/acquire/Makefile
libvips/arithmetic/Makefile
libvips/boolean/Makefile
libvips/cimg/Makefile
libvips/colour/Makefile
libvips/conversion/Makefile
libvips/convolution/Makefile
libvips/deprecated/Makefile
libvips/format/Makefile
libvips/freq_filt/Makefile
libvips/histograms_lut/Makefile
libvips/include/Makefile
libvips/include/vips/Makefile
libvips/inplace/Makefile
libvips/iofuncs/Makefile
libvips/mask/Makefile
libvips/morphology/Makefile
libvips/mosaicing/Makefile
libvips/other/Makefile
libvips/relational/Makefile
libvips/resample/Makefile
libvips/video/Makefile
libvipsCC/Makefile
libvipsCC/include/Makefile
libvipsCC/include/vips/Makefile
man/Makefile
po/Makefile
swig/Makefile
swig/vipsCC/Makefile
tools/Makefile
tools/iofuncs/Makefile
tools/mosaicing/Makefile
tools/other/Makefile
tools/scripts/Makefile

# various things made by gtk-doc
doc/html-build.stamp
doc/html.stamp
doc/html/
doc/libvips-decl-list.txt
doc/libvips-decl.txt
doc/libvips-overrides.txt
doc/libvips-sections.txt
doc/libvips-undeclared.txt
doc/libvips-undocumented.txt
doc/libvips-unused.txt
doc/libvips.args
doc/libvips.hierarchy
doc/libvips.interfaces
doc/libvips.prerequisites
doc/libvips.signals
doc/libvips.types
doc/scan-build.stamp
doc/sgml-build.stamp
doc/sgml.stamp
doc/xml/
gtkdocerrors

