---
---

@import "{{ site.theme }}";

.page-header {
	padding: 1rem 1.5rem;
	line-height: 1.2;
}

.project-name {
	a { 
		text-decoration: none;
		color: white;
	}
}

.blog-index {
	list-style: none;
	.date {
		float: right;
		font-size: small;
	}
	li { 
	}
}
