---
---

$body-text-color: #2f444c;

@import "{{ site.theme }}";

body {
	color: $body-text-color;
}

.page-header {
	padding: 0.5rem 1rem;
	line-height: 1.1;
}

.project-name {
	a { 
		text-decoration: none;
		color: white;
		font-family: 'Cabin', sans-serif;
	}
}

.navigation {
	img {
		max-width: 16px;
	}
}

.main-content .navigation td {
	border: 0;
}

.main-content .refnamediv td {
	border: 0;
}

.blog-index {
	list-style: none;
	.date {
		float: right;
		font-size: small;
	}
	li { 
	}
}
