---
---

@import "{{ site.theme }}";

.page-header {
	padding: 1rem 1.5rem;
	line-height: 1.2;
}

.project-name {
	a { 
		text-decoration: none;
		color: white;
	}
}

.main-content .navigation table td {
	border: 0;
}

.navigation {
	img {
		max-width: 16px;
	}
}

.refnamediv {
	td {
		border: 0;
	}
}

.blog-index {
	list-style: none;
	.date {
		float: right;
		font-size: small;
	}
	li { 
	}
}
