<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>libvips</title>
    <meta name="description" content="A fast image processing library with low memory needs."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/libvips/assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/libvips">libvips</a></h1>
      <h2 class="project-tagline">A fast image processing library with low memory needs.</h2>

      <a href="{{ site.github.repository_url }}" class="btn">Project on GitHub</a>
      <a href="{{ site.github.releases_url }}" class="btn">Download</a>
      <a href="{{ site.baseurl }}/install.html" class="btn">Install</a>
      <a href="{{ site.baseurl }}/API/current" class="btn">Documentation</a>
      <a href="{{ site.github.issues_url }}" class="btn">Issues</a>
      <a href="{{ site.github.wiki_url }}" class="btn">Wiki</a>

    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
	  <a href="https://github.com/jcupitt/libvips">View on GitHub</a>
	</span>
      </footer>
    </section>

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48550036-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
